@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

*::selection{
    background-color: black;
    color: white;
}

.btnhover:hover{
    background-color: black;
    color: white;
}

canvas{
    pointer-events: none;
}

